@import "../../theme/colors.css";

.hero {
  height: 100vh;
  display: flex;
  opacity: 65%;
  overflow-x: hidden;
}

.left {
  flex: 1;
  align-content: center;
  margin: auto;
  text-align: center;
}

.right {
  flex: 1;
  padding-top: 50vh;
}

.heroTextContainer {
  /* width: 450px; */
  text-align: left;
}

.greetingWrapper {
  height: 50px;
  border-bottom: 2px solid var(--main);
}

.greeting {
  font-weight: 300;
  font-size: 2.5em;
  color: var(--dark-shades);
  padding-bottom: 7px;
  margin-bottom: 0;
  margin-left: 4px;
}

.info {
  margin-top: 10px;
  margin-left: 6px;
  font-weight: 300;
  font-size: 1em;
  color: var(--dark-shades);
}
